.banner{
    background-image: url("../../images/banner.jpeg");
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leagues{
    padding-top:40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    background-color: #1F2833;
}
.banner-style{
    font-size: 50px;
    color: rgb(152, 226, 248);
    font-weight: bold;
}
@media screen and (max-width:720px){
    .leagues{
        display: grid;
        grid-template-columns: 1fr;
        border:1px solid red;
        margin: 0 auto;
        padding:20px;
        background-color: #1F2833;
    }
}